@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  background-color: #2e8c95;
}
.contenedor {
  display: flex;
  width: 300px;
  height: 320px;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
  background: #2e8c95;
  box-shadow: 31px 31px 62px #206167, -31px -31px 62px #3cb7c3;
}

.contar {
  font-size: 5rem;
}

.botones {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
  width: 70px;
  height: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  background: white;
  border: none;
  border-radius: 5px;
}
